h1,
h3 {
  color: rgba(0, 0, 0, 0.5);  
}

mat-card{
  width: 50%;
}

@media(max-width:450px){
  mat-card{
    width: 100%;
  }
}

@media(max-width:749px){
  mat-card{
    width: 90%;
  }
}

.mat-message {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  display: none;
  justify-content: center;
  flex-wrap: wrap;
}

.msg-success {
  background: rgb(76 175 80 / 84%);
  width: 50%;
  text-align: center;
  padding: 1%;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #3d8a40;
  margin-top: 5%;
  color: #fff;
  font-size: 18px;
  display: none;
}

.msg-error {
  background: #f44336;
  width: 50%;
  text-align: center;
  padding: 1%;
  color: #fff;
  border-radius: 5px;
  border: 1px solid rgb(191 54 44);
  margin-top: 5%;
  color: #fff;
  font-size: 18px;
  display: none;
}