<mat-tab-group animationDuration="0ms">  
  <mat-tab>
    <ng-template mat-tab-label>
       <div class="allCenter">
          <mat-icon class="example-tab-icon">
            sports_football
            </mat-icon>
          Configurar switch Deportivo
       </div>
    </ng-template>
    <app-configurar-switch-deportivo></app-configurar-switch-deportivo>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
       <div class="allCenter">
          <mat-icon class="example-tab-icon">
            directions_run
          </mat-icon>
          Crear Grupo Muscular
       </div>
    </ng-template>
    <app-configurar-grupo-muscular></app-configurar-grupo-muscular>
  </mat-tab>
</mat-tab-group>