<mat-tab-group animationDuration="0ms">  
  <mat-tab>
    <ng-template mat-tab-label>
       <div class="allCenter">
          <mat-icon class="example-tab-icon">
            psychology
            </mat-icon>
          Configurar switch Médico
       </div>
    </ng-template>
    <app-configurar-switch-medico></app-configurar-switch-medico>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
       <div class="allCenter">
          <mat-icon class="example-tab-icon">
            medication
          </mat-icon>
          Crear Receta Médica
       </div>
    </ng-template>
    <app-configurar-grupo-medico></app-configurar-grupo-medico>
  </mat-tab>
</mat-tab-group>